/* You can add global styles to this file, and also import other style files */
:root{
    --noir:black;
    --beige:#D2B48C;
}
button {
  background-color: rgba(214, 180, 106, 0.95);
}

h1, h2, label, input, button {
  font-family: 'MedievalSharp', cursive;
}

p, strong  {
  font-family: 'IM Fell English', serif;
}
body {
  background-color: #CC7722;
}
input {
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 300px;
  font-size: 16px;
  background-color: green;
  color: var(--noir);
}
input::placeholder {
  color: var(--beige);
}
